/* override Tailwind's red-600 with your custom shade */

@keyframes ribbon-marquee {
  from { background-position-x: 1000; }
  to   { background-position-x: -1000px; } /* big value for endless scroll */
}
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
